.container
  
  .row
    .col{style: "float:left;"}
      %h2 Transmitter (count: #{Transmitter.count}) | Program (count: #{Program.count}) | Episode (count: #{Episode.count}) 
    .col{style: "float:right;margin-top:25px;"}
      .btn.btn-warning{"data-target" => "#initiateScrapingModal", "data-toggle" => "modal", :type => "button"} Initiate Scraping


  .row
    .col
      = will_paginate(@episode)
      
  .row
    .col
      %table.table.table-bordered
        %thead
          %tr
            %th{:scope => "col"} TV Channel
            %th{:scope => "col"} Time
            %th{:scope => "col"} P Name
            %th{:scope => "col"} P genre
            %th{:scope => "col"} P branch
            %th{:scope => "col"} Date
            %th 
        %tbody.main
          - i = 0
          - @episode.order(:created_at).each do|es|
            %tr
              %td=es.program.transmitter.name
              %td="(#{es.start_time.strftime("%H : %M")}) - (#{es.end_time.strftime("%H : %M")})"
              %td=link_to es.program.name, tv_guide_path(es)
              %td=es.program.genre
              %td=es.program.branch
              %td=es.created_at.strftime("%v")
              %th=link_to "view", tv_guide_path(es)
  .row
    .col
      = will_paginate(@episode)

#initiateScrapingModal.modal
  .modal-dialog
    = form_tag(scrape_tv_guides_path, method: :get, remote:true) do 
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title RE Website Data Scrape
        .modal-body
          #status{style: "display:none; width: 100%;height: 25px;background-color: lightgoldenrodyellow;text-align: center;margin-bottom: 10px;margin-top: -15px;"} ....
          = date_field_tag :date, nil, class: "form-control scrape_date",required: true
        .modal-footer
          %button.btn.btn-success{type: "submit"}  Submit
          %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Cancel

:css 
  .scrape_date{
    width: 140px;
    display: inline-block;
    padding: 0 0 0 12px;
    height: 35px;
  }