/ %h1 TV
/ %table.table
/   %thead
/     %tr
/       %th{:scope => "col"} S no.
/       %th{:scope => "col"} Name
/   %tbody.main
/     - i = 0
/     - @transmitters.each do|tv|
/       %tr
/         %th{:scope => "row"}= i+=1
/         %td=tv.name
/         %td 
/           %table.table
/             %thead
/               %tr
/                 %th{:scope => "col"}= tv.programs.count
/                 %th{:scope => "col"} Program
/             %tbody
/               - i = 0
/               - tv.programs.each do|tv|
/                 %tr
/                   %th{:scope => "row"}= i+=1
/                   %td=tv.name
/ Transmitters Pagination: 
/ = will_paginate(@transmitters)

%h1 Episode (Date: #{Episode.first.program_date}, count: #{Episode.count}) 
= will_paginate(@episode)
%br
%table.table
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Name
      %th{:scope => "col"} TV Channel
  %tbody.main
    - i = 0
    - @episode.group_by(&:program_id).each do|k,es|
      %tr
        %th{:scope => "row"}= i+=1
        %td=Program.find(k).name
        %td=Program.find(k).transmitter.name
        %td
          %table.table
            %thead
              %tr
                %th{:scope => "col"} #
                %th{:scope => "col"} url
                %th Start Time
                %th End Time
            %tbody.main
              - j = 0
              - es.each do|es1|
                %tr
                  %th{:scope => "row"}= j+=1
                  %td=es1.source_url
                  %td=es1.start_time.strftime("%H : %M")
                  %td=es1.end_time.strftime("%H : %M")
= will_paginate(@episode)
